<footer class="site-footer">

  <div class="wrapper">

   
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
           <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>

          <li>
          {% if site.gs_username %}
          {% include icon-gs.html username=site.gs_username %}
          {% endif %}

          {% if site.email_user %}
          {% include icon-email.html username=site.email_user domain=site.email_domain %}
          {% endif %}
        
          {% if site.github_username %}
          {% include icon-github.html username=site.github_username %}
          {% endif %}

          {% if site.bluesky_username %}
          {% include icon-bluesky.html username=site.bluesky_username %}
          {% endif %}

          {% if site.OSF_username %}
          {% include icon-osf.html username=site.OSF_username %}
          {% endif %}
          
          {% if site.orcid_username %}
          {% include icon-orcid.html username=site.orcid_username %}
          {% endif %}
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
